asgiref==3.8.1
boto3==1.36.21
botocore==1.36.21
certifi==2024.8.30
charset-normalizer==3.4.0
dj-database-url==2.3.0
Django==5.1.4
django-allauth==65.3.0
django-cors-headers==4.6.0
django-environ==0.11.2
django-extensions==3.2.3
django-ses==4.4.0
djangorestframework==3.15.2
environ==1.0
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
packaging==24.2
pandas>=2.0.0
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.4
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
redis==5.2.0
requests==2.32.3
s3transfer==0.11.2
setuptools==75.6.0
six==1.17.0
spotipy==2.24.0
sqlparse==0.5.2
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.45.1
whitenoise==6.9.0
XlsxWriter>=3.1.0