body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "AdamCG";
  src: url('./fonts/adam-cg-pro.regular.otf') format("opentype");
}

input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
