body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "AdamCG";
  src: url('./fonts/adam-cg-pro.regular.otf') format("opentype");
}

@font-face {
  font-family: "FuturaNowBold";
  src: url('./fonts/FuturaNowHeadlineBold.ttf') format("truetype");
}
@font-face {
  font-family: "FuturaNowRegular";
  src: url('./fonts/FuturaNowHeadline.ttf') format("truetype");
}


input[type="search"]::-webkit-search-cancel-button {
  appearance: none;
}


.blur-box {
  background-color: #FFF;
  box-shadow: -10px 0 10px 5px #FFF, 10px 0 10px 5px #FFF;
}

:root {
  --fade-color: white;
}
.dark {
  --fade-color: #1f2937;
}

.container-width {
  width: 100vw; /* takes the full viewport width including the space for the scrollbar */
  display: flex;
  align-items: center;
  justify-content: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
